# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables and secrets
.env
*.json
credentials.json
service-account*.json

# Power BI temporary/backup files
*.pbit
*.tmp

# OS files
.DS_Store
Thumbs.db